[zmat]
debug = false
retry = 60

[zm]
host = zm.example.com
port = 6802
defusername = admin
defpassword = <password>
tz = America/Chicago

[cam1]
ip = 10.1.5.10
monid = 1

[cam2]
ip = 10.1.5.11
monid = 12

[cam3]
ip = 10.1.5.12
monid = 16

[cam4]
ip = 10.1.5.13
monid = 7

[cam5]
ip = 10.1.5.14
monid = 10
